<head><%= javascript_include_tag "rails" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %></head>
<h1>Showing All Users</h1>
<table border=1>
  <tr><th>First Name</th> <th>Last Name</th> <th>Email </th>
    <th>Username</th> <th>Password Hash </th> <th>Password Salt</th>
  <th>Type</th><th>Actions</th></tr>
  <% @users.each do |user| %>
      <tr> <td><%= user.first_name %></td> <td><%=user.last_name %> </td>
        <td><%=user.email %></td> <td><%=user.username %> </td>
        <td><%=user.password_hash %></td> <td><%=user.password_salt %> </td>
        <td><%=user.user_type %></td>
        <% if current_user==admin_user || current_user==super_admin_user  %>
        <% if user.user_type!="admin" && user.user_type!="superadmin" %>
        <td>
          <%= button_to 'Delete', user, method: :delete, :confirm => 'Are you sure?' %>

          <%= button_to "Promote To Admin", {:action => "promoteToAdmin", id: user} %>
        </td>
                <% end %>

        <% end %>




        <% if current_user.id == user.id %>
            <td>
              <%= button_to 'Delete', user, method: :delete, :confirm => 'Are you sure?' %>
            </td>
        <% end %>

      </tr>

  <% end %>
</table>