<head><%= javascript_include_tag "rails" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %></head>
<h1>Showing All Users</h1>
<table border=1>
  <tr><th>First Name</th> <th>Last Name</th> <th>Email </th>
    <th>Username</th> <th>Password Hash </th> <th>Password Salt</th>
    <th>Type</th><th>Actions</th></tr>
  <% @users.each do |user| %>
      <% if user.username!="anonymous" %>
      <tr> <td><%= user.first_name %></td> <td><%=user.last_name %> </td>
        <td><%=user.email %></td> <td><%=user.username %> </td>
        <td><%=user.password_hash %></td> <td><%=user.password_salt %> </td>
        <td><%=user.user_type %></td>

        <td>
          <% if current_user==admin_user || current_user==super_admin_user  %>

              <% if user.user_type!="admin" && user.user_type!="superadmin" %>
                  <%= button_to 'Delete', user, method: :delete, :confirm => 'Are you sure?' %>
                  <%= button_to "Promote To Admin", {:action => "promoteToAdmin", id: user} %>
              <% end %>

              <% if current_user==super_admin_user %>
                  <% if user.user_type=="admin" %>
                      <%= button_to "Revoke Admin Rights", {:action => "revokeAdmin", id: user} %>
                  <% end %>
              <% end %>

          <% end %>

          <% if current_user.id == user.id && user.user_type!="superadmin"%>
              <%= button_to 'Delete', user, method: :delete, :confirm => 'Are you sure?' %>
          <% end %>

        </td>
      </tr>
         <% end %>
  <% end %>
</table>