
<div class="container">
<table border=1>
  <tr><th>Category</th><th>Tag</th> <th>Content</th> <th>Posted By </th><th>All who voted</th></tr>
  <% @posts.each do |poster| %>
      <tr>
        <td><%= poster.category %></td>
        <td><%= poster.tag %></td>
        <td>
          <u>Title</u> : <%= poster.title %> <br/>
          <u>Content</u> : <%=poster.content %>   <br/>
             <% if current_user %>
            <%= form_tag url_for(:controller => :posts, :action => :saveComment, :id => poster.id) do %>
                <%= text_field_tag "comment" %>
                <%= submit_tag "Submit comment"  %>
            <% end  %>
              <% end %>
          <fieldset>
            <legend>Comments</legend>
          <ol>
            <% @comments.each do |comment| %>
                <% if comment.post_id==poster.id %>
                    <li><%=comment.content  %> --
                      <i><b><u><%=User.find(comment.user_id).first_name %> <%=User.find(comment.user_id).last_name %></u></b></i>
                    <% if current_user && current_user.id==comment.user_id %>
                     <b> (You) </b>
                      <% end %>
                    </li>

                    <!--Here is the likes for the comments -->
                    <% if (current_user!=nil &&  (current_user!=comment.user))%>
                        <div ><a href="" id="<%= comment.id %>" name="upComment" class="votesComment" style="color:rgb(0,0,255)">
                          <div class='upComment'></div> <%= CommentVote.find_all_by_comment_id(comment.id).count %> Votes</a></div>
                    <% end %>
                    <!-- ---------------------------------------- -->

                    <% if (current_user!=nil &&  (current_user==comment.user || current_user==admin_user || current_user==super_admin_user))%>
                        <% if alreadyVotedForComment(current_user.id,comment.id) %>
                            <b>You Voted up this comment</b>
                        <% end %>
                    <%= button_to "Edit Comment", {:action => :editComment, :id => comment},:class => 'btn btn-mini' %>
                    <%= button_to "Delete Comment", {:action => :deleteComment,:id => comment},:class => 'btn btn-mini btn-danger' %>

                    <% end %>


                <% end %>

            <% end %>

          </ol>
          </fieldset>


        </td>
        <td><%=poster.user.first_name %> <%=poster.user.last_name %>
          <% if (current_user!=nil &&  (current_user==poster.user || current_user==admin_user || current_user==super_admin_user))%>
              <%if current_user==poster.user%>
                  <i><b>(OWNER)</b></i>
              <br/><font color="F0C00C"><%= Vote.find_all_by_post_id(poster.id).count %> Votes Received</font>  <br/>
               <%end%>
              <%= link_to 'Edit this Post', edit_post_path(poster),:class => 'btn btn-mini' %>
              <%= button_to 'Delete this Post', poster, method: :delete, :confirm => 'Are you sure?',:class => 'btn btn-mini btn-danger' %>
          <%end%>
          <% if (current_user!=nil &&  (current_user!=poster.user))%>
              <div ><u><a href="" id="<%= poster.id %>" name="up" class="votes" style="color:rgb(0,0,255)">
                <div class='up'></div> <%= Vote.find_all_by_post_id(poster.id).count %> Votes</a></u></div>
              <% if alreadyVotedForPost(current_user.id,poster.id) %>
              <b>You Voted up this post</b>
              <% end %>

              </td>
          <%end%>
           <td><%=all_who_voted(poster)%></td></tr>
  <% end %>
</table>
</div>

<script>


    $(document).ready(function(){
        $(".votes").one('click',function(){
            var id = $(this).attr("id");
            var name = $(this).attr("name");
            var parent = $(this)
            if (name=='up'){
                $.get('/votedup', {id: id},
                        function(data,status){
                            parent.html(data);
                        });
            }
            $(this).on('click',function(ev){
                ev.preventDefault();
            });

            return false;
        });



    });

    $(document).ready(function(){
        $(".votesComment").one('click',function(){
            var id = $(this).attr("id");
            var name = $(this).attr("name");
            var parent = $(this)
            if (name=='upComment'){
                $.get('/votedCommentUp', {id: id},
                        function(data,status){
                            parent.html(data);
                        });
            }
            $(this).on('click',function(ev){
                ev.preventDefault();
            });

            return false;
        });



    });


</script>