<%= javascript_include_tag "rails" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<table border=1>
  <tr><th>Category</th><th>Tag</th> <th>Content</th> <th>Posted By </th></tr>
  <% @posts.each do |poster| %>
      <tr>
        <td><%= poster.category %></td>
        <td><%= poster.tag %></td>
        <td>
          <%=poster.content %>   <br/>

            <%= form_tag url_for(:controller => :posts, :action => :saveComment, :id => poster.id) do %>
                <%= text_field_tag "comment" %>
                <%= submit_tag "Submit comment"  %>
            <% end  %>
          <fieldset>
            <legend>Comments</legend>
          <ol>
            <% @comments.each do |comment| %>
                <% if comment.post_id==poster.id %>
                    <li><%=comment.content  %> --
                      <i><%=User.find(comment.user_id).first_name %> <%=User.find(comment.user_id).last_name %></i></li>

                    <!--Here is the likes for the comments -->
                    <% if (current_user!=nil &&  (current_user!=comment.user))%>
                        <div ><a href="" id="<%= comment.id %>" name="upComment" class="votesComment">
                          <div class='upComment'></div> <%= CommentVote.find_all_by_comment_id(comment.id).count %> Votes</a></div>
                    <% end %>
                    <!-- ---------------------------------------- -->

                    <% if (current_user!=nil &&  (current_user==comment.user || current_user==admin_user || current_user==super_admin_user))%>
                    <%= button_to "Edit Comment", {:action => :editComment, :id => comment} %>
                    <%= button_to "Delete Comment", {:action => :deleteComment,:id => comment} %>
                    <% end %>


                <% end %>

            <% end %>

          </ol>
          </fieldset>


        </td>
        <td><%=poster.user.first_name %> <%=poster.user.last_name %>
          <% if (current_user!=nil &&  (current_user==poster.user || current_user==admin_user || current_user==super_admin_user))%>
              <%= link_to 'Edit', edit_post_path(poster) %>
              <%= button_to 'Delete', poster, method: :delete, :confirm => 'Are you sure?' %>
          <%end%>
          <% if (current_user!=nil &&  (current_user!=poster.user))%>
              <div ><a href="" id="<%= poster.id %>" name="up" class="votes">
                <div class='up'></div> <%= Vote.find_all_by_post_id(poster.id).count %> Votes</a></div></td></tr>
          <%end%>

  <% end %>
</table>

<script>


    $(document).ready(function(){
        $(".votes").one('click',function(){
            var id = $(this).attr("id");
            var name = $(this).attr("name");
            var parent = $(this)
            if (name=='up'){
                $.get('/votedup', {id: id},
                        function(data,status){
                            parent.html(data);
                        });
            }
            $(this).on('click',function(ev){
                ev.preventDefault();
            });

            return false;
        });



    });

    $(document).ready(function(){
        $(".votesComment").one('click',function(){
            var id = $(this).attr("id");
            var name = $(this).attr("name");
            var parent = $(this)
            if (name=='upComment'){
                $.get('/votedCommentUp', {id: id},
                        function(data,status){
                            parent.html(data);
                        });
            }
            $(this).on('click',function(ev){
                ev.preventDefault();
            });

            return false;
        });



    });


</script>