<%= form_for @post do |f| %>
    <div class="field">
     Title : <%= f.text_field :title  %><br/>
     Content : <%= f.text_area :content %><br/>
     Category : <%= f.text_area :category %> <br/>
      Tag : <%= f.text_field :tag  %>
    </div>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>