<%= form_for @post do |f| %>
    <div class="container">
     Title<br/><%= f.text_field :title  %><br/>
     Content<br/><%= f.text_area :content %><br/>
     Category<br/><%= f.select :category,options_for_select(all_cats,@post.category) %> <br/>
      Tag<br/><%= f.text_field :tag  %>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
    </div>
<% end %>