<head><%= javascript_include_tag "rails" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %></head>
<h1>Showing Posts by Search Filter</h1>
<% @posts.each do |poster| %>
    <div><b>Category:</b> <%= poster.category %> |<b> Content: </b><%=poster.content %>  --> <%=poster.user.first_name %> <%=poster.user.last_name %>   </div>
    <% if current_user==poster.user %>
        <div>
          <%= link_to 'Edit', edit_post_path(poster) %>
          <%= button_to 'Delete', poster, method: :delete, :confirm => 'Are you sure?' %></div>
    <%end%>
<% end %>